          /* Font */
          
          @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
          /* Design */
          /* HELPERS*/
          
          .tl-fixed {
              table-layout: fixed;
          }
          
          *,
          *::before,
          *::after {
              box-sizing: border-box;
          }
          
          body {
              font-family: 'Quicksand', serif;
              font-style: normal;
              font-weight: 400;
              letter-spacing: 0;
              /* background-color: #64c7ed; */
              background: rgb(100, 199, 237);
              background: linear-gradient(0deg, rgba(100, 199, 237, 1) 0%, rgba(140, 206, 232, 1) 6%, rgba(189, 227, 242, 1) 28%, rgba(255, 255, 255, 1) 80%);
          }
          
          .bg-light {
              background: radial-gradient(circle, #3f7fdf 0%, #366bbc 0%, #274f8b 30%, #224375 50%, #12233d 108%)!important;
          }
          
          .navbar-brand img {
              height: 145px;
              width: auto;
              position: relative;
              top: 8px;
          }
          
          .navbar-light .navbar-nav .nav-link {
              color: #fff;
          }
          
          .offset-80 {
              margin-left: 80%;
          }
          
          .navbar-light .navbar-toggler {
              border-color: #3162ae;
              background-color: #3163ae76;
              position: relative;
              bottom: 40px;
          }
          
          #menu-wrapper {
              max-height: 230px;
          }
          
          #menu-container {
              position: relative;
              bottom: 44px;
              z-index: 1000;
          }
          
          #menu-container {
              margin-top: 21px;
          }
          
          .navbar-collapse {
              background-color: #f8f9fa;
              padding: 1rem 0;
          }
          
          .icons .fa {
              height: 45px;
              width: 45px;
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              background-color: #3162ae;
              border-radius: 50%;
              color: #fff;
              font-size: 1.5rem;
              margin: 0 12px;
              transition: .5s ease all;
          }
          
          .mobil-icon {
              height: 45px;
              width: 45px;
              display: inline-flex;
              flex-direction: column;
              text-align: center;
              align-content: center;
              justify-content: center;
              background-color: #3162ae;
              border-radius: 50%;
              color: #fff;
              font-size: 1.5rem;
              margin: 10px 6px;
              transition: .5s ease all;
          }
          
          ul.mobile-icons {
              list-style: none;
          }
          
          .break-this {
              overflow: hidden;
              white-space: initial;
              text-overflow: ellipsis;
              word-break: break-word;
          }
          
          @media(min-width:1200px) {
              .mail {
                  width: 327px;
              }
              .tel {
                  width: 331px;
              }
          }
          
          .fa:hover {
              color: #faf200;
              cursor: pointer;
          }
          
          .fa.fa-youtube:hover {
              color: #f22200;
          }
          
          .fa.fa-facebook:hover {
              color: #47a4f5
          }
          
          .fa.fa-instagram:hover {
              color: #e43c5f;
          }
          
          .fa.fa-whatsapp:hover {
              color: #4be676;
          }
          
          a:hover {
              text-decoration: none;
          }
          
          .nav-link {
              font-family: 'Rowdies', cursive;
          }
          
          .nav-link:hover {
              color: #faf200!important;
          }
          
          .icons {
              display: none;
          }
          
          .mobile-icons {
              display: block;
          }
          
          @media(min-width:576px) {
              #menu-container {
                  max-width: 100%;
                  margin-top: 10px;
              }
          }
          
          @media(min-width:992px) {
              .navbar-collapse {
                  background-color: transparent!important;
                  padding: 0;
              }
              #menu-container {
                  margin-top: 21px;
              }
              .icons {
                  display: block;
              }
              .mobile-icons {
                  display: none;
              }
          }
          
          @media(min-width:1200px) {
              #menu-container {
                  max-width: 1140px;
              }
          }
          
          .contact-info {
              display: none!important;
          }
          
          @media(min-width:1200px) {
              .contact-info {
                  display: flex!important;
              }
          }
          
          .contact-info-mobil {
              display: block
          }
          
          #navbarSupportedContent {
              background: radial-gradient(circle, #3f7fdf 0%, #366bbc 0%, #274f8b 30%, #224375 50%, #12233d 108%)!important
          }
          
          @media(min-width:1200px) {
              .contact-info-mobil {
                  display: none;
              }
              #navbarSupportedContent {
                  background: transparent!important;
              }
          }
          /* HOME */
          
          .home-slider img {
              max-height: 550px;
              object-fit: cover;
              max-inline-size: fit-content;
          }
          
          .main {
              max-width: 1200px;
              margin: 0 auto;
          }
          
          .home-title {
              font-size: 2.8rem;
              font-weight: 400;
              text-align: center;
          }
          
          .card_image {
              height: 240px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-position-y: 75%;
              border-radius: 12px;
              display: block;
              margin: 0 auto;
              width: 80%;
          }
          
          .card_image img {
              height: auto;
              max-width: 100%;
              vertical-align: middle;
              max-height: 250px;
              min-width: 100%;
              min-height: 250px;
          }
          
          .btn-book-now {
              color: #fff;
              background-color: rgb(255, 167, 103);
              padding: 0.8rem;
              font-size: 1rem;
              text-transform: uppercase;
              border-radius: 4px;
              font-weight: 400;
              display: block;
              cursor: pointer;
              border: 1px solid rgba(255, 255, 255, 0.2);
              width: 80%!important;
              margin: 0 auto;
              transition: ease .5s all;
          }
          
          .btn-view-fleet {
              display: block;
              width: 65%;
              margin: 0 auto;
              border: none;
              background-color: #1b7482;
              color: #fff;
              font-weight: 900;
          }
          
          .btn-book-now:hover {
              background-color: rgb(182, 27, 0);
              color: #fff!important;
          }
          
          .card_content a {
              padding: 12px 0px;
              display: block;
          }
          
          .card_content a:hover {
              text-decoration: none;
          }
          
          .cards {
              display: flex;
              flex-wrap: wrap;
              list-style: none;
              margin: 0;
              padding: 0;
              justify-content: center;
          }
          
          .cards_item {
              display: flex;
              padding: 1rem;
          }
          
          @media (min-width: 40rem) {
              .cards_item {
                  width: 50%;
              }
          }
          
          @media (min-width: 56rem) {
              .cards_item {
                  width: 33.3333%;
              }
              .cards_single {
                  width: 55%;
              }
          }
          
          .card {
              background-color: #ffff;
              border-radius: 12px;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              border: none;
              box-shadow: 0 20px 40px -14px rgb(10, 172, 220);
          }
          
          .card_content {
              padding: 1rem;
          }
          
          .card_title {
              color: #444;
              font-size: 1.5rem;
              text-align: center;
              font-weight: 900;
              letter-spacing: 1px;
              text-transform: capitalize;
              margin: 0px;
          }
          
          .card_text {
              color: #444;
              font-size: 0.875rem;
              line-height: 1.5;
              margin-bottom: 1.25rem;
              font-weight: 900;
              text-align: center;
          }
          
          ul.card_text {
              margin: 0 auto;
              text-align: left;
              max-width: 280px;
              font-size: 1.15rem;
          }
          
          .made_by {
              font-weight: 400;
              font-size: 13px;
              margin-top: 35px;
              text-align: center;
          }
          /* FOOTER */
          
          .modal-footer {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: flex-end;
              padding: 0.75rem;
              border-top: 1px solid #dee2e6;
              border-bottom-right-radius: calc(0.3rem - 1px);
              border-bottom-left-radius: calc(0.3rem - 1px);
          }
          
          .modal-footer>* {
              margin: 0.25rem;
              color: #12233d;
          }
          
          #footer .container-fluid.footer {
              color: #fff;
              font-family: Lato, sans-serif;
              background: rgb(116, 124, 214);
              background: radial-gradient(circle, #3f7fdf 0%, #366bbc 0%, #274f8b 30%, #224375 50%, #12233d 108%);
          }
          
          #footer .container-fluid.footer img {
              opacity: .9
          }
          
          #footer .container-fluid.footer img:hover {
              opacity: 1
          }
          
          #footer .container-fluid.footer a {
              color: #fff;
              text-decoration: none
          }